* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #474545ee;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem; /* Reducción del tamaño del texto */
    padding: 0.5rem 1rem; /* Ajustamos el padding para hacerlo más compacto */
    display: block;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    /* Hacemos más pequeño el tamaño de los íconos del menú */
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem; /* Hacemos los íconos más grandes y visibles */
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ecececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center; /* Alineamos los enlaces al centro */
        gap: 0.5rem; /* Reducimos el espacio entre los enlaces */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 1.5rem 1rem; /* Reducimos el padding para hacerlo más compacto */
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
    }

    .nav-visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: center; /* Centrar los elementos en dispositivos móviles */
        width: 100%;
    }

    .nav-list li a {
        color: #ecececec;
        font-size: 1.1rem; /* Ajustamos el tamaño de fuente */
        padding: 0.75rem 1rem; /* Más pequeño para que se vea más compacto */
    }
}

